.mainBar {
    align-items: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: rgb(79, 79, 79);
}

.menuSection {
    width: 75%;
}

.resourcesSection {
    width: 25%;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 1;
}

.resource {
    flex-direction: row;
    margin-left: 0;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}
